<div class="jumbotron center">
<h1><FONT FACE='Crimson Text', serif;>Welcome to my app!</FONT></h1>
	<% if user_signed_in? %> 

<%= $Daylight =  Time.now.hour
case $Daylight
when 5 .. 11
    "Good Morning!"
when 12 .. 16
     "Good Afternoon!"
when 0 .. 4 , 17 .. 24
     "Good Evening!"
else
     "."
end %>

			
	<% else %> 
<p> </p>
<p> </p>
<p>
	<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %> 
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</p>
<% end %>
</div>

