
<div id="carousel-example-generic" class="carousel slide" style="width: 0 auto; margin: 0 auto">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://upload.wikimedia.org/wikipedia/commons/b/bd/Castle_Mountain_Alberta.jpg" alt="...">
      <div class="carousel-caption">
        <h2>Slide 1</h2>
        	<p>Front Page</p>
     </div>
   </div>
    <div class="item">
      <img src="http://upload.wikimedia.org/wikipedia/commons/d/d3/Tajik_mountains_edit.jpg" alt="...">
      <div class="carousel-caption">
        <h2>Slide 2</h2>
        	<p>Middle Page</p>
     </div>
   </div>
    <div class="item">
      <img src="http://geophiliac.files.wordpress.com/2013/01/gt_cascade-canyon_jenny-lake-3.jpg" alt="...">
      <div class="carousel-caption">
      	<h2>Slide 3</h2>
      		<p>Back Page</p>
  	</div>
  </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>
</div>
<div class="container">
<h1 class="text-center">Introduction</h1>
<p class="text-center">Welcome!</p>
<h3>This is the First Topic</h3>
</div>
