<%= render 'pages/carousel' %>
<div class="container">
<h1 class="text-center">Introduction</h1>
<p class="text-center"><FONT FACE='Crimson Text', serif;>Welcome!</FONT></p>
<h3 class="text-center"><FONT FACE='Crimson Text', serif;>This is the First Topic</FONT></h3>

